﻿<!DOCTYPE html>
<html>
<head>
    <title>
        Didžiausi miestai
    </title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link href="/static/app.css" rel="stylesheet">
</head>
<body>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript">
  $(document).ready(function(){

    var nav = $('.men');
    var banner = $('#logo');
    var pos = nav.position();

    $(window).scroll(function(){
      var windowpos = $(window).scrollTop();

      if(windowpos >= banner.innerHeight())
      {
        nav.addClass('fixedTop');
      }
      else
      {
        nav.removeClass('fixedTop');
      }
    });
  });
        </script>
        <div id="roots"></div>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/static/indexas.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
