html {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777; }

p {
  padding: 0 0 20px 0;
  line-height: 1.7em; }

img {
  border: 0; }

h1 {
  color: white;
  font-size: 80px;
  text-shadow: 5px 5px 0 red; }

.title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 1%;
  color: black; }

.active {
  font-style: bold;
  background-color: blue; }

.error {
  text-align: center;
  font-size: 100px;
  color: red; }

.cities {
  display: flex;
  justify-content: center; }

.cities li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  color: black; }

.lank-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.lank-item {
  margin: 20px;
  text-align: center; }

.space-list-items {
  margin-bottom: 7px; }

.picture {
  width: 340px;
  border-radius: 33%; }

.text-cont {
  width: 90%;
  text-align: center;
  padding-left: 7%;
  padding-bottom: 1%;
  font-size: 15px;
  color: black; }

a, a:hover {
  outline: none;
  text-decoration: underline;
  color: #F05A00; }

.vietu-link {
  font-size: 20px; }

a:hover {
  text-decoration: none; }

.left {
  float: left;
  width: auto;
  margin-right: 10px; }

.right {
  float: right;
  width: auto;
  margin-left: 10px; }

.center {
  display: block;
  text-align: center;
  margin: 20px auto; }

.blockquote {
  margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF; }

ul {
  margin: 2px 0 22px 17px; }

ul li {
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px; }

ol {
  margin: 8px 0 22px 20px; }

ol li {
  margin: 0 0 11px 0; }

#main, #logo, #menubar, #footer {
  margin-left: auto;
  margin-right: auto; }

#logo {
  width: 100%;
  position: relative;
  background: url("http://jitterocka.com/wp-content/uploads/2015/06/Stadhockneyrf.jpg") no-repeat;
  width: 100%;
  height: 350px; }

#logo #logo_text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 9%;
  margin-left: 30%;
  margin-right: 20%; }

#logo h1, #logo h2 {
  font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0; }

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
  padding: 22px 0 0 0;
  text-align: center;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none; }

#logo_text h1 a .logo_colour {
  color: blue; }

#logo_text h2 {
  font-size: 100%;
  padding: 4px 0 0 0;
  color: #FFF; }

.men {
  width: 100%;
  height: 50px;
  color: #FFF;
  margin: 0;
  text-align: center;
  background-color: #F05A00; }

/*.nav
{ 
  width: 100%;
  height: 72px;
  overflow: hidden;
  // position: absolute;
  //top: 0px;
  //padding: 0;
  color:#FFF;
  //margin:0;
  text-align: center;
  // background-color: #5B2660;
  // background-color: #F82E0D;
  background-color: #FF3400;
} */
ul.child {
  display: none; }

li {
  list-style-type: none; }

ul.men, ul.men li {
  text-align: center;
  padding: 0; }

.men > li {
  list-style: none;
  display: inline-block; }

@media (max-width: 670px) {
  .men {
    text-align: left; }
  .men > li {
    display: block; } }

.men > li > a {
  letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block;
  float: left;
  height: 50px;
  padding: 16px 21px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none; }

ul.men li a:hover, ul.men li.selected a, ul.men li.selected a:hover {
  color: #FFF;
  background: red url(http://bsnscb.com/data/out/87/38827962-glow-wallpapers.jpg) repeat-x; }

#site_content {
  width: 85%;
  margin: auto;
  padding: 70px 30px 30px 30px;
  background: #FFF url(http://bsnscb.com/data/out/87/38827962-glow-wallpapers.jpg) repeat-y; }

.sidebar {
  float: right;
  width: 20%;
  padding: 0 15px 20px 15px; }

.sidebar ul {
  width: 178px;
  padding: 4px 0 0 0;
  margin: 4px 0 30px 0; }

.sidebar li {
  list-style: none;
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover {
  padding: 0 0 0 40px;
  display: block;
  background: transparent url(http://bsnscb.com/data/out/87/38827962-glow-wallpapers.jpg) no-repeat left center; }

.sidebar li a.selected {
  color: #444;
  text-decoration: none; }

#content {
  text-align: left;
  width: 75%;
  padding: 10; }

#content ul {
  margin: 2px 0 22px 0px; }

#content ul li {
  list-style-type: none;
  background: url(http://bsnscb.com/data/out/87/38827962-glow-wallpapers.jpg) no-repeat;
  margin: 0 0 6px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em; }

#footer {
  width: 100%;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 46px;
  padding: 15px 0 5px 0;
  text-align: center;
  background-color: #F05A00;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

#footer a {
  color: #FFF;
  text-decoration: none; }

#footer a:hover {
  color: #FFF;
  text-decoration: underline; }

.search {
  color: #5D5D5D;
  border: 1px solid #BBB;
  width: 134px;
  padding: 4px;
  font: 100% arial, sans-serif; }

#colours {
  height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px; }

.form_settings {
  margin: 15px 0 0 0; }

.form_settings p {
  padding: 0 0 4px 0; }

.form_settings span {
  float: left;
  width: 200px;
  text-align: left; }

.form_settings input, .form_settings textarea {
  padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F; }

.form_settings .submit {
  font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #F05A00;
  color: #FFF; }

.form_settings textarea, .form_settings select {
  font: 100% arial;
  width: 299px; }

.form_settings select {
  width: 310px; }

.form_settings .checkbox {
  margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none; }

.separator {
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0; }

table {
  margin: 10px 0 30px 0; }

table tr th, table tr td {
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left; }

table tr td {
  background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF; }

/*---------------------------Home--------------------------------------*/
*, *:after, *:before {
  box-sizing: inherit; }

#page {
  margin-right: 20px;
  margin-left: 20px; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  min-height: 100%;
  height: 100vh; }

.Navigation {
  position: fixed;
  background-color: white;
  margin: auto;
  border-radius: 7px;
  padding: 5px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  background-color: #f05a00;
  border-radius: 7px; }

.sections a {
  color: rgba(3, 142, 143, 0.5);
  outline: none;
  text-decoration: none;
  font-size: 70px; }

.sections a:hover {
  color: #038e8f;
  text-shadow: 4px 4px 0 white;
  outline: none;
  text-decoration: none;
  font-size: 70px; }

#Vilnius {
  background: url("https://scontent.fkun1-1.fna.fbcdn.net/v/t1.0-9/12592612_754073431360755_8181330572098725534_n.jpg?oh=e92f16be244fde036eb462f08d9dcf2a&oe=59AA3454") no-repeat;
  background-size: cover;
  background-color: #ed365b;
  border-bottom: 3px solid #FF3400; }

#Miestai {
  background: url("https://scontent.fkun1-1.fna.fbcdn.net/v/t1.0-9/17637_620507161384050_450214411754586339_n.jpg?oh=2435df3da687580302f0e5d8f4ee85f0&oe=59DBE947") no-repeat;
  background-size: cover;
  background-color: crimson;
  border-bottom: 3px solid #FF3400;
  width: 100%; }

#Klaipeda {
  background: url("http://g1.dcdn.lt/images/pix/klaipeda-68114816.jpg") no-repeat;
  background-size: cover;
  background-color: #f16581;
  border-bottom: 3px solid #FF3400; }

#Siauliai {
  background: url("http://vilniusinlove.lt/wp-content/uploads/2016/10/siauliai-2.jpg") no-repeat;
  background-size: cover;
  background-color: #f594a7;
  border-bottom: 3px solid #FF3400; }

#Panevezys {
  background: url("http://renginiai.kasvyksta.lt/uploads/places/2693/katedra.jpg") no-repeat;
  background-size: cover;
  background-color: #f594a7;
  border-bottom: 3px solid #FF3400; }

#letsMoveToVilnius:hover {
  background-color: red; }

#letsMoveToMiestai:hover {
  background-color: red; }

#letsMoveToKlaipeda:hover {
  background-color: red; }

#letsMoveToSiauliai:hover {
  background-color: red; }

#letsMoveToPanevezys:hover {
  background-color: red; }

/*---------------------------Dropdown Menu--------------------------------------*/
.container {
  overflow: hidden;
  background-color: #F05A00;
  font-family: Arial; }

.fixedTop {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0px; }

.container a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: auto; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  cursor: pointer; }

.container a:hover, .dropdown:hover .dropbtn {
  background-color: #FF3400; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

/*---------------------------Cities Information--------------------------------------*/
.content h3 {
  color: #038e8f;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif;
  text-align: center; }

.content h2 {
  color: #038e8f;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Droid Serif', serif;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px; }

.content {
  border-top: 1px solid #038e8f;
  border-bottom: 2px solid #038e8f; }

.content p {
  text-indent: 50px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Spectral', serif; }

/*--------------Heraldry----------------*/
.Image {
  padding-left: 41%; }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

#myImg:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 700px; }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0.1); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

.gallery {
  border: 1px solid #ccc; }

.gallery:hover {
  border: 1px solid #777; }

.gallery img {
  width: 100%;
  height: auto; }

.desc {
  padding: 15px;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding: 6px 6px 6px; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }
